* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 120px;
}

.Header__Logo {
    width: 116px;
    height: 36px;
}

.Header__SectionLien {
    display: flex;
    gap: 20px;
}

.Header__SectionLien a[href='Accueil'] {
    color: red;
}

.Header__Lien {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
    font-family: "Poppins";
}

.Hero {
    display: flex;
    padding: 120px 100px;
    align-items: center;
    justify-content: center;
}

.Hero__Titre {
    width: 480px;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    font-family: 'Poppins';
}

.Hero__Description {
    width: 370px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    font-family: 'Poppins';
}

.Hero__Bouton {
    text-decoration: none;
    color: white;
    background-color: red;
    width: 182px;
    height: 54px;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 9px;


}

.Hero__Image {
    width: 564px;
    height: 376px;
}

.Option {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 100px;
    background-color: #FAF3E9;
}

.Option__Card {
    width: 322px;
    height: 210px;
    border: 1px solid black;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Option__Titre {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.Option__Description {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 215px;
}


.CodeEditor {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    background-color: black;
    gap: 25px;
}

.CodeEditor__Image {
    width: 561px;
    height: 296px;
}

.CodeEditor__Titre {
    color: white;
    font-size: 24px;
    font-weight: 700;
    width: 296px;
    line-height: 36px;
}

.CodeEditor__Description {
    font-size: 18px;
    font-weight: 400;
    color: white;
    width: 465px;
    line-height: 27px;
}

.CodeEditor__Bouton {
    background-color: red;
    color: white;
    text-decoration: none;
    width: 182px;
    height: 54px;
    border-radius: 9px;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 20px;
}


.Learm {
    background-color: white;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.Learm__Titre {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

.Learm__Card {
    background-color: #FAF3E9;
    padding: 20px 10px;
    width: 325px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.Learm__SectionCard {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.Learm__Lien {
    text-decoration: none;
    color: red;
    font-weight: 700;
    position: relative;
    right: 450px;
}

.Contact {
    background-color: #FAF3E9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.Contact__Titre {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.Contact__Description {
    display: flex;
    flex-wrap: wrap;
    width: 1035px;
    height: 472px;
    gap: 77px;

}
.Contact__Info{
    font-weight: 700;
}

.Contact__Input {
    width: 477px;
    height: 57px;
    background-color: #FAF3E9;
    border-color:rgb(162, 162, 162);
    border: 1px solid  rgb(162, 162, 162);
    border-radius: 9px;

}

.Contact__Input2 {
    width: 1035px;
    height: 167px;
    background-color: #FAF3E9;
    border: 1px solid  rgb(162, 162, 162);
    border-radius: 9px;

}
.Contact__Lien{
    text-decoration: none;
    background-color: red;
    color: white;
    width: 278px;
    height: 54px;
    text-align: center;
    border-radius: 9px;
    font-size: 18px;
    font-weight: 700;
    padding-top: 17px;
    position: relative;
    left: 370px;
}
.Footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 50px;
}
.Footer--Image{
    width: 116px;
    height: 36px;

}
.Footer__Description{
    width: 380px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;

}
.Footer__SectionIcone{
    display: flex;
    gap: 20px;
}
.Footer__Icone{
    width: 24px;
    height: 24px;

}