.Hero{
    flex-direction: column-reverse;
}
.Hero__Texte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Hero__Titre{
    text-align: center;
    width: 600px;
}
.Hero__Description{
    text-align: center;
    width: 600px;
}
.Hero__Bouton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Option__Titre{
    font-size: 17px;
}
.Option__Description{
    width: 150px;
    font-size: 16px;
}
.CodeEditor{
    flex-direction: column;
}
.Learm__SectionCard{
    flex-direction: column;
}
.Learm__Lien{
    position: static;
}
.Contact__Description{
    width: 100%;
    padding-left: 30px;
}
.Contact__Input{
    width: 320px;
}
.Contact__Input2{
    width: 700px;
}
.Contact__Lien{
    position: static;
}
/* Page 2: Nos cours */
.Hero2{
    flex-direction: column;
}
.Hero2__Titre{
    text-align: center;
}
.Hero2__Description{
    text-align: center;
}
.Apprentissage{
    gap: 25px;
}
.Apprentissage__SectionCard{
    grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.Apprentissage__Card{
    background-color: #FAF3E9;
    width: 220px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    border-radius: 9px;
}
.Apprentissage__SectionLien{
   right: 260px;
}
.Footer{
    flex-direction: row;
    gap: 100px;
}
.Footer__Description{
    font-size: 14px;
    width: 300px;
}